.login-page,
.signup-page {
  @apply bg-[#fff] py-16;
}

.login-page .inputSubmitToLogin,
.signup-page .inputSubmitToLogin {
  @apply items-center shadow-[0_1px_2px_rgba(36,57,141,0.4)] rounded leading-[1.6] text-black cursor-pointer text-[0.9em] brightness-100 whitespace-nowrap px-4 py-[9px] border-[none] hover:brightness-[1.2] w-full text-lg;
  transition: all 0.3s;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 100%
    )
    #fff;
}

.profile-page .inputSubmitToLogin {
  @apply items-center shadow-[0_1px_2px_rgba(36,57,141,0.4)] rounded leading-[1.6] text-white cursor-pointer text-[0.9em] brightness-100 whitespace-nowrap px-4 py-[9px] border-[none] hover:brightness-[1.2] w-full text-lg;
  transition: all 0.3s;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 100%
    )
    rgb(126 34 206 /1);
}
.profile-page .inputSubmitToLogindanger {
  @apply items-center shadow-[0_1px_2px_rgba(36,57,141,0.4)] rounded leading-[1.6] text-white cursor-pointer text-[0.9em] brightness-100 whitespace-nowrap px-4 py-[9px] border-[none] hover:brightness-[1.2] w-full text-lg;
  transition: all 0.3s;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 100%
    )
    rgb(220 38 38/1);
}
.login-page .inputControlled,
.signup-page .inputControlled,
.profile-page .inputControlled {
  @apply w-full  bg-transparent h-[56px] text-white border border-solid focus:outline-none px-2 rounded;
}

.profile-page .emailField,
.profile-page .universityField,
.profile-page .lastnameField,
.profile-page .firstField {
  @apply w-full md:w-[300px];
}

.profile-page .MuiStack-root.css-fedopx-MuiStack-root,
.profile-page .universityField,
.profile-page
  .MuiAutocomplete-root.MuiAutocomplete-hasPopupIcon.css-clttge-MuiAutocomplete-root {
  @apply w-full md:w-[1rem] text-white;
  width: 100% !important;
}
.profile-page .MuiAutocomplete-root.MuiAutocomplete-hasPopupIcon {
  color: #fff !important;
  border-radius: 5px !important;
  border: 0.5px solid #6b7280 !important;
  outline: none !important;
}
.profile-page fieldset.MuiOutlinedInput-notchedOutline,
.profile-page fieldset.MuiOutlinedInput-notchedOutline.css-igs3ac {
  border-color: #6b7280 !important;
}
.profile-page
  button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator,
.profile-page
  button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator
  svg,
.profile-page
  button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator,
.profile-page
  button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator
  svg {
  fill: aliceblue !important;
  color: #fff !important;
}

.profile-page .universityField .MuiStack-root.css-2cxzai,
.profile-page .universityField .MuiStack-root {
  width: 100% !important;
}

.profile-page .MuiStack-root.css-fedopx-MuiStack-root input {
  @apply text-white;
}
@media (min-width: 768px) {
  .profile-page .MuiStack-root.css-fedopx-MuiStack-root,
  .profile-page .universityField,
  .profile-page
    .MuiAutocomplete-root.MuiAutocomplete-hasPopupIcon.css-clttge-MuiAutocomplete-root {
    width: 300px !important;
  }
}

.profile-page .emailField input,
.profile-page .universityField input,
.profile-page .lastnameField input,
.profile-page .firstField input {
  @apply w-full md:w-auto;
  /* width: 12rem !important; */
}
/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root, */
.profile-page .css-fedopx-MuiStack-root {
  /* @apply w-[1Orem]; */
  /* width: 12rem !important; */
}

.profile-page .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-adornedEnd {
  /* @apply bg-red-400 w-[1Orem]; */
}

.login-page .inputControlled.error,
.signup-page .inputControlled.error,
.profile-page .inputControlled.error {
  @apply focus:border-[#e75353] focus:shadow-[0_0_0_3px_#4869ee3f] border-[#f18a9b];
}

.custom-uploader [type="text"]:focus,
.custom-uploader input:where(:not([type])):focus,
.custom-uploader [type="email"]:focus,
.custom-uploader [type="password"]:focus,
.custom-uploader [type="number"]:focus,
.custom-uploader [type="search"]:focus,
.custom-uploader [multiple]:focus,
.custom-uploader textarea:focus,
.custom-uploader select:focus,
.profile-page [type="text"]:focus,
.profile-page input:where(:not([type])):focus,
.profile-page [type="email"]:focus,
.profile-page [type="password"]:focus,
.profile-page [type="number"]:focus,
.profile-page [type="search"]:focus,
.profile-page [multiple]:focus,
.profile-page textarea:focus,
.profile-page select:focus {
  --tw-ring-shadow: none !important;
}

.login-page .inputControlled.noError,
.signup-page .inputControlled.noError,
.profile-page .inputControlled.noError {
  /* @apply focus:border-[#5396e7] focus:shadow-[0_0_0_3px_#4869ee3f] border-[#AB8AF1]; */
}
.profile-page .MuiAutocomplete-root.Mui-focused.Mui-expanded {
  /* border: 1px solid #5396e7 !important; */
  box-shadow: 0 0 0 3px #4869ee3f !important;
}
.login-page .labelControlled,
.signup-page .labelControlled,
.profile-page .labelControlled,
.profile-page .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.profile-page #grouped-demo-label {
  @apply absolute bg-[#371577] px-2 pointer-events-none text-gray-200;
  color: #fff !important;
  font-size: 1rem !important;
}
.profile-page #grouped-demo {
  @apply bg-[#371577] px-2 pointer-events-none text-gray-200;
  color: #fff !important;
  font-size: 1rem !important;
}

.login-page .labelControlled.focus,
.signup-page .labelControlled.focus,
.profile-page .labelControlled.focus {
  @apply -translate-x-1 -translate-y-2/4 left-4 top-0 text-[#CFBEEF] text-[2px];
  font-size: 0.78rem !important;
}

.login-page .labelControlled.noFocus,
.signup-page .labelControlled.noFocus,
.profile-page .labelControlled.noFocus {
  @apply -translate-x-2 -translate-y-2/4 left-4 top-2/4 text-[#9E6AFF];
}

.login-page form select option,
.signup-page form select option,
.profile-page form select option {
  @apply text-gray-900;
}

.profile-page
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root,
.profile-page
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
  color: #fff;
}
