.persistant-drawer header {
  @apply w-full mb-10;
  position: fixed !important;
  top: 111px !important;
  padding: 0 !important;
}
@media screen and (max-width: 768px) {
  .persistant-drawer header {
    top: 92.3px !important;
  }
}

.persistant-drawer
  .css-1k455el
  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 0.8rem 0.2rem !important;
  border-radius: 5px !important;
}

.persistant-drawer main {
  margin-left: auto !important;
  z-index: -1;
}

.persistant-drawer main .react-pdf__Document {
  @apply flex justify-center;
}

.persistant-drawer
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  width: auto !important;
}

@media screen and (max-width: 768px) {
  .persistant-drawer
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    width: auto !important;
  }
}
