.profil-main-container input[type="text"],
.profil-main-container input[type="email"],
.profil-main-container input[type="password"],
.profil-main-container select {
  @apply w-full md:w-64;
}

.home-page {
  @apply flex flex-col w-full;
}

.home-page section.hero {
  @apply w-full flex justify-start items-center bg-slate-600 px-2 min-[380px]:px-10 min-[580px]:px-20 min-[580px]:py-60 py-40 min-[865px]:px-36  bg-cover bg-no-repeat bg-center object-contain text-white   text-center sm:text-start;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.home-page section.hero .content {
  @apply min-[1150px]:w-2/3 flex flex-col gap-8;
}

.home-page section.upload-ressources {
  @apply text-center px-8 sm:px-14 md:px-20 lg:px-40 py-32 flex flex-col bg-cyan-100;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 2px, transparent 2px),
    radial-gradient(#444cf7 2px, #e5e5f7 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.home-page section.upload-ressources button.button-mui {
  @apply py-6 px-8;
}

.upload-success-page {
  @apply flex flex-col;
}

.upload-success-page .button-mui {
  @apply py-6 px-4 min-[360px]:px-8  rounded-full;
}
