.profil-main-container input[type="text"],
.profil-main-container input[type="email"],
.profil-main-container input[type="password"],
.profil-main-container select {
  /* @apply w-full md:w-64; */
}

/* input :not(input[type="submit"]) {
  background: transparent !important;
} */
input:-webkit-autofill,
input:-webkit-fill-background,
input:-moz-autofill {
  background: transparent !important;
}

.upload-success-page {
  @apply flex flex-col;
}

.upload-success-page .button-mui {
  @apply py-6 px-4 min-[360px]:px-8  rounded-full;
}
