header:not(header.MuiAppBar-root) {
  @apply font-semibold text-lg border-b flex flex-col md:flex-row justify-between items-center px-2 md:px-4 lg:px-6 py-8 w-full bg-white;
  position: fixed !important;
  top: 0;
}

header .logo {
  @apply mr-3 lg:mr-8;
}
header .logo a img {
  @apply w-36;
}

header nav.first {
  @apply justify-between md:items-center items-end w-full;
}

.MuiPaper-root.MuiPaper-elevation {
  @apply px-8 py-6 max-[400px]:px-4;
}

.MuiPaper-root.MuiPaper-elevation ul.first-ul {
  @apply flex flex-col;
}

.MuiPaper-root.MuiPaper-elevation
  ul.first-ul
  .isUndertable
  .box-profil-image
  a {
  @apply border-0;
}

.MuiPaper-root.MuiPaper-elevation
  ul.first-ul
  .isUndertable
  .box-profil-image
  .logout {
  @apply block w-full font-semibold text-lg hover:text-red-500 max-[767px]:w-full max-[767px]:block max-[767px]:px-4 max-[767px]:py-2 text-gray-700;
}

.MuiPaper-root.MuiPaper-elevation ul.first-ul li a {
  @apply font-semibold text-lg hover:text-purple-500 max-[767px]:w-full max-[767px]:block max-[767px]:px-4 max-[767px]:py-2 text-gray-700 md:hover:border-b-4 md:hover:border-purple-400 border-l-4;
}

.MuiPaper-root.MuiPaper-elevation ul.first-ul li a.active {
  @apply py-4 px-4 text-purple-900 max-[767px]:bg-purple-200 max-[767px]:border-l-4 border-purple-600 max-[767px]:text-purple-600 md:border-b-4;
}
header nav.first ul {
  @apply flex md:justify-start max-[767px]:flex-col max-[767px]:mt-4 w-auto md:items-center gap-3 md:gap-4 lg:gap-8 max-[767px]:gap-0;
}
header nav.first ul li {
  @apply max-[767px]:px-4;
}
header nav.first ul li a {
  @apply font-semibold text-lg hover:text-purple-500 max-[767px]:w-full max-[767px]:block max-[767px]:px-4 max-[767px]:py-2 text-gray-700 md:hover:border-b-4 md:hover:border-purple-400;
}
header nav.first ul li a.active {
  @apply text-purple-900 max-[767px]:bg-purple-200 max-[767px]:border-l-4 border-purple-600 max-[767px]:text-purple-600 md:border-b-4;
}

header nav.second {
  @apply w-full hidden md:flex justify-end;
}
header nav.second ul {
  @apply flex gap-0 sm:gap-2 md:gap-1 lg:gap-6 justify-center items-center self-center;
}
/* header nav.second ul li a.login {
  @apply rounded-md border border-[#5E38A6] text-white px-4 py-1 bg-purple-700 hover:bg-purple-800;
}
header nav.second ul li a.signup {
  @apply border rounded-md px-4 py-1 border-[#5E38A6] text-[#5E38A6] hover:bg-slate-100;
} */
